body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
}

html{
  height: 100%
}

*{
  box-sizing: border-box;
}

.flex-container-column{
  display: flex;
  height: 100%;
}

.flex-column{
  padding: 1em;
}

.column-1{
  flex-basis: 240px;
}

.column-2{
  flex: 1;
  background-color: #eee;
}

.column-3{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
}

.flex-container-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}

.flex-card{
  flex: 0 0 250px;
  background-color: white;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.flex-card p{
  padding: .5rem 1rem;
}

.flex-card img{
  border-radius: 10px 10px 0 0;
}

.flex-container-body{
  display: flex;
  flex-direction: column;
  height: inherit;
}

.flex-main{
  flex: 1;
}